@import url(./css/table.css);
@import url(./css/form.css);
@import url(./css/boxes.css);

.contenedor{
    display: grid;
    place-items: center;
    height: 30vh;
}
.box{
    width: 200px;
    height: 200px;
    background: #e4e4e4;
}
.menu{
    position: fixed;
}

input::placeholder {
    color: black;
  }